*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Header styling*/
header img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
#bar
{
    width: 100vw;
    height: 50px;
    background-color: rgb(10, 134, 97);
    color: white;
    font-weight: bolder;
    letter-spacing: 1;
    word-spacing: 2;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
#jumpbox .jump
{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: rgb(76, 113, 192);
    color: white;
    position: relative;
    top: 150px;
    float: left;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 50;
}
#jumpbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#jumpbox::after{
    content: '';
    display: block;
    clear: both;
}
#j1{
    order: 1;
}
#j2{
    order: 2;
}
#j3{
    order: 3;
}
#j4{
    order: 4;
}
#j5{
    order: 5;
}
#j6{
    order: 6;
}
.jump:hover{
    text-decoration: none;
    opacity: 0.8;
    transition: 0.5s;
}

/* Slideshow container */
.slideshow-container {
    width: 800px;
    position: relative;
    margin: auto;
    margin-top: 200px;   
}
.slideshow-container img{
    width: 800px;
    height: 600px;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
  
    -webkit-animation-duration: 60s;
  
    animation-duration: 50s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#head4 h3{
    color: rgb(10, 134, 97);
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1;
    word-spacing: 2;
}
#head4 p{
    text-align: center;
    font-size: small;
    color: black;
    padding: 10px;
}
#head4 a{
    width: 320px;
    height: 40px;
    line-height: 50px;
    background-color:  rgb(76, 113, 192);
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#head4 a:hover{
    opacity: 0.8;
    transition: all .4s ease-in;
}
/*blue box styling*/
.box
{
    width: 80%;
    height: 400px;
    margin: auto;
    overflow: scroll;
    background-color:  rgb(10, 134, 97);
}

.box h3
{
    color: white;
    font-weight: bolder;
    text-align: center;
}
.box h5,p{
    color: white;
}
.box p{
    font-size: small;
}
.box
{
    padding: 10px;
}
.box ul li{
    list-style: disc;
}

/*Customer Reviews*/
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #cacaca;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/*Footer Styling*/
footer{
    position: relative;
    z-index: -100;
    
}

.container2 .fa:hover{
    opacity: 0.7;
}
.container2 .fa{
    padding: 15px;
    font-size: 30px;
    width: 62px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


.container2 .fa-facebook {
    background: #3B5998;
    color: white;
}

.container2 .fa-linkedin {
    background: #007bb5;
    color: white;
}

.container2 .fa-instagram {
    background: #91132e;
    color: white;
}

.container2 .fa-twitter {
    background: #55ACEE;
    color: white;
}

.container2 .fa-google {
    background: #dd4b39;
    color: white;
}
.container3 a:hover{
    opacity: 0.7;
}
.list-unstyled li a{
    color: white;
}
hr{
    opacity: .3;
    
}

/*3 cards styling*/
.card{
    box-shadow: 5px 10px 8px  #888888;
    height: 300px;
    border-radius: 15px;
}
.card p{
    text-align: center;
}
@media(max-width: 768px) {
    .menu{
        width: 100%;
        text-align: center;
    }
    .menu .social-sites{
        margin-top: 0px;
        border-bottom: none;
        border-top: none;
        
    }
    .header h2{
        display: none;
    }
}
/*Contact purpose icons*/

.fa:hover{
    color: skyblue;
    transition: 0.75s;
}
